rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Acesso total para ambiente de desenvolvimento/teste
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
